@media screen
  {
  #printable-div{
	  display:none;
  }
  }
@media print
  {
 #media{
	  display:none;
  }
  .reveal-modal{
	  display:none !important;
  }
  
  }
td{
height:20px !important;
padding:0 !important;
}
td a{
margin:0px !important;	
}

table {
background: white;
margin-bottom: 1.25rem;
border: 0px ;
}
table tr:nth-of-type(2n) {
    background: none repeat scroll 0% 0% rgb(250, 255, 255);
}

