.pricing-table {
width: 200px;
margin-right:5px;
margin-left:15px;
margin-top:15px;
float:left;

}

.pricing-table .title { 

background-color:#CDA078;
}

.pricing-table .bullet-item {
background-color:#A7E9D7;	
}


.pricing-table .bullet-items {

padding: 0.9375rem;
text-align: center;
color: #333333;
font-size: 0.875rem;
font-weight: normal;
border-bottom: dotted 1px #dddddd;
}