.parent {
    width:6000px;
	height:550px;
}

.bill{
    overflow:auto;
	height:300px;
    width:400px;
	border:2px solid #a1a1a1;
	padding:10px 40px; 
	border-radius:25px;
	
}
.item_qty{
    font-size:1em;
    text-align:center;
   	height:10px;
    width:40px;
    border:1px solid black;
    float:left;
	
}
.calculater{
display:none;
float:right;
height:10px;
width:40px;
}
/*
.items{
 height:350px;
 width:500px;
}
*/
.myalert{
display:none;
}
