.parent {
    
	min-height:550px;
}

.bill{
    overflow:auto;
	height:300px !important;
   	width:340px;
	border:1px solid #81DAF5;
	
	float:left;
}

.row_bill_items{
	height:10px !important;
	padding-top:5px;
}
.items-ajax{
height:10px !important;
}
#bill_det{
    float:left;
	height:40px !important;
   }
#payment{
	float:left;
	min-height:24px;
    
	
}

.item_quantity{
    font-size: 6px;
    text-align:center;
   	height:27px !important;
    width:40px !important;
    border:1px solid black;
    
	
}

.bill_discount{
    font-size: 6px;
    text-align:center;
   	height:20px !important;
    width:25px !important;
    border:1px solid black;
    
	
}
.calculater{
display:none;
float:right;
height:10px;
width:40px;
}
/*
.items{
 height:350px;
 width:500px;
}
*/
.myalert{
display:none;
}

.row_bill_items {
   font-size: 13px;
 	vertical-align:middle;
	text-align:center;
    height:25px;
   
}

.bill_number{
display:none;
background-color: #CCC;   
color: #000000; 
}

button.bill_item_cancel, .button.bill_item_cancel{
padding-top: 0.1rem;
padding-bottom: 0.1rem;
height:20px !important;
width:10px !important;
}
.tot_button_val{
color: #000000;
background-color: #CCC;

}
.discount{
color: #000000;
background-color: #CCC;

}

.calc{

width:400px !important;
}

.discount_calc{

width:400px !important;
}
.counter{
background:#ccc;
min-height:450px
}

.categories{
background:#fff;
min-height:400px;
box-shadow:1px 1px 1px 1px gray;
border:1px solid gray;

}
.categories .button{
width:150px;
margin:5px;
}

#item-container{
background:#fff !important;
height:400px !important;
box-shadow:1px 1px 1px 1px gray;
border:1px solid gray;
padding:5px;
}

#item-container.button{
width:150px;

}
#bill-container{
background:#FAFAFA !important;
height:400px !important;
box-shadow:1px 1px 1px 1px gray;
border:1px solid gray;

}
.payment .button{
width:110px;
margin-top:5px;
margin-bottom:5px;
}
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
    display: table-cell;
    line-height: 0.125rem;
}
table {
    background: none repeat scroll 0% 0% white;
    margin-bottom: 1.25rem;
    border: 0px solid rgb(221, 221, 221);
}
table tr:nth-of-type(2n) {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
table th:nth-of-type(n) {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
