.parent {
    width:6000px;
	height:550px;
}

.bill{
    overflow:auto;
	min-height:300px;
    min-width:400px;
	border:2px solid #81DAF5;
	padding:10px 40px; 
	
	
}
.item_quantity{
    font-size: 6px;
    text-align:center;
   	height:27px !important;
    width:40px !important;
    border:1px solid black;
    
	
}
.calculater{
display:none;
float:right;
height:10px;
width:40px;
}
/*
.items{
 height:350px;
 width:500px;
}
*/
.myalert{
display:none;
}

.row_bill_items {
   font-size: 13px;
 	vertical-align:middle;
	text-align:center;
    
    
}

.bill_number{
display:none;
}

button.bill_item_cancel, .button.bill_item_cancel{
padding-top: 0.1rem;
padding-bottom: 0.1rem;
height:20px !important;
width:10px !important;
}

