<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><?php if (!empty($this->title)) echo $this->title ?></title>
    <link rel="stylesheet" href="/css/foundation_restaurant.css" />
	<script src="/js/vendor/custom.modernizr.js"></script>
		<?php if (!empty($this->script)) echo $this->script ?>
		<?php if (!empty($this->style)) echo $this->style ?>
	</head>
  <body>

<div class="large-16 columns">
	<div class="off-canvas-wrap docs-wrap">
	  <div class="inner-wrap">
		<nav class="tab-bar">
		  <section class="left-small">
		    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
		  </section>

		  <section class="middle tab-bar-section">
		    <h1 class="title">My Restaurant</h1>
		  </section>

		  <section class="right-small">
		    <a class="right-off-canvas-toggle menu-icon"><span></span></a>
		  </section>
		</nav>

		<aside class="left-off-canvas-menu">
		  <ul class="off-canvas-list">
			<?php if (isset($left_menu)) echo $left_menu ?>
		  </ul>
		</aside>

		<aside class="right-off-canvas-menu">
		  <ul class="off-canvas-list">
			<?php if (isset($right_menu)) echo $right_menu ?>
		  </ul>
		</aside>

		<section class="main-section">
		  <div class="row">
		    <div class="large-16 columns">
				<?php if (isset($content)) echo $content; ?>
				<?php if (isset($this->print_page)) echo $this->print_page;  ?>

		    </div>
		  </div>
		</section>

	  <a class="exit-off-canvas"></a>

	  </div>
	</div>

    <!-- Footer -->

      <footer class="row">
        <div class="large-16 columns"><hr>
            <div class="row">
              <div class="large-16 columns">
                  <p><?php if (isset($footer)) echo $footer ?> Copyright &copy; Acube Innovations Private Limitted. All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;</p>
              </div>



            </div>
        </div>
      </footer>
</div>
    <!-- End Footer -->
 	<script src="/js/jquery.js"></script>
 	<script src="/js/foundation.min.js"></script>

    <script>
            $(document).foundation();
    </script>
  </body>
</html>
