<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><?php if (!empty($this->title)) echo $this->title ?></title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <script src="/js/modernizr.js"></script>


	<style type="text/css" media="screen">
	/* <![CDATA[ */
		.row {min-width:100% !important;}
	/* ]]> */
	</style>
		<?php if (!empty($this->script)) echo $this->script ?>
		<?php if (!empty($this->style)) echo $this->style ?>
	</head>
  <body>

    <!-- Navigation -->
<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a  href="#">
            Restaurant
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

	<?php if (isset($right_menu)) echo $right_menu; ?>
  </nav>
</div>
  <!-- End Top Bar -->

  <div class="row" id="main_content" >
    <div class="large-12 columns">

    <!-- Content  -->

      <div class="row">
        <div class="large-12 columns">
				<?php if (isset($content)) echo $content; ?>
				<?php if (isset($this->print_page)) echo $this->print_page;  ?>

      </div>
    </div>

    <!-- End Content  -->



    <!-- Footer -->

      <footer class="row">
        <div class="large-12 columns"><hr>
            <div class="row">

              <div class="large-6 columns">
                  <p><?php if (isset($footer)) echo $footer ?> Copyright &copy; Acube Innovations Private Limitted. All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;</p>
              </div>

              <div class="large-6 small-12 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>

            </div>
        </div>
      </footer>

    <!-- End Footer -->

    </div>
  </div>


 	<script src="/js/jquery.js"></script>
 	<script src="/js/foundation.min.js"></script>

    <script>
            $(document).foundation();
    </script>
  </body>
</html>
